# IDE/editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# npm
.npmrc

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js, build artifacts
.next/
out/
build
.swc/
*.tsbuildinfo
**/dist/
**/build/
**/.next/

# turbo
.turbo
turbo.log*

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# keys, certs
*.pem